body{
  font-family: "Robotto", sans-serif;
  color: beige;
  overflow-x: hidden;
  opacity: 1;
}
::-webkit-scrollbar {
display: none;
}

.page-desc{
  margin-top: 55vmin;
}
.page-son{
  margin-top: 40vmin;
}
.text-middle{
    padding: 4%;
}

.container{
  background-color: #444444;
  border-radius: 1vmin;
  border: solid 0.4vmin #5B5B5B;
  color: beige;
  text-align: center;
  align-items: center;

}


.title-container{

}

.img{
  width: 100%;
}

.title{
  font-size: xxx-large;
  margin-top: 2%;
  margin-left: 2%;
}