body{
  font-family: "Robotto", sans-serif;
  color: beige;
  overflow-x: hidden;
  opacity: 1;
}
::-webkit-scrollbar {
display: none;
}


.container{
  background-color: black;
  border-radius: 1vmin;
  border: solid 0.1vmin #5B5B5B;
  color: white;
  text-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
}



.title{
  font-size: xxx-large;
  margin-top: 2%;
  margin-left: 2%;
}

@media only screen and (min-device-width : 0px) and (max-device-width : 1024px) {


}