.page-desc{
    text-align: center;
}

.items{
    position: absolute;
    transform: rotate(-90deg);
    filter : blur(0.5rem);
}

.container-items{
   flex-direction: column;
   align-items: flex-start;
    position: relative;
}


.item1-second{
    left: -2%;
    margin-top: 15%;
}
.item1-third{
    left: -4.6%;
    margin-top: 30%;
}

figure {
  border: none;
}
figcaption {
  color: black;
  font: italic smaller sans-serif;
  text-align: center;
    margin-right: 60%;
}

.zone-texte {
    width: 100%;
    position: relative;
    padding: 2%;
}

.first-text {
    position: relative;
    right: -15%;
    padding: 2%;
    z-index: 2;
}

.second-text {
    position: relative;
    left: 5%;
    padding: 2%;
       z-index: 2;
}

.third-text {
    position: relative;
    right: -15%;
    padding: 2%;
       z-index: 2;

}


.place-holder-img{
position:relative;
    right: -48%;
    margin-top: -45%;

}

.img-placeholder{
    height: 500px;
    width: auto;
    z-index: 2;
}

.onde3-desc{
    position: absolute;
    z-index: 0;
    width: 150%;
    right: 0px;
    top: -500px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    .zone-texte{
        position: relative;
        padding: 2%;
    }

    .zone-texte > div {
        position: relative;
        z-index: 2;
        padding: 2%;
        left: 0%;
        right: 0%;
    }

    .place-holder-img{
        position:relative;
        left: 40%;
        margin-bottom: 20%;
    }

    .img-placeholder{
    border-radius: 10px;
    height: 275px;
    width: auto;
    }


}



