.page-desc{
    text-align: center;
}

.items{
    position: absolute;
    transform: rotate(-90deg);
    filter : blur(0.5rem);
}
.zone-texte {
    padding: 2%;
    display: grid;
    grid-template-columns: 300px 300px 800px;
    gap: 30px; /* Augmentation de l'espacement horizontal à 30px */
    grid-auto-rows: minmax(30px, auto);
}

.first-text {
    grid-column: 1;
    grid-row: 1;
}

.second-text {
    grid-column: 1;
    grid-row: 2;
}

.third-text {
    grid-column: 1;
    grid-row: 2 ;
}

.place-holder-img{
position:absolute;
    top:137vmin;
    right: 5%;
}

.img-placeholder{
    border-radius: 10px;
}


.container-items{
   flex-direction: column;
   align-items: flex-start;
    position: relative;
}

.item1-first{

}
.item1-second{
    left: -2%;
    margin-top: 15%;
}
.item1-third{
    left: -4.6%;
    margin-top: 30%;
}




