.div-error404{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.div-error404 >a {
    width: 40%;
    height: auto;
}

.img-error404{
    width: 100%;
    height: auto;
}

@media only screen and (min-device-width : 0px) and (max-device-width : 1024px) {


}
