.wrapper {
    background-color: #0A0908;
    display: flex;
    justify-content: space-around; /* Ajuste l'espacement entre les éléments */
    align-items: center;
    flex-wrap: wrap; /* Permet le retour à la ligne des éléments sur les petits écrans */
    padding-top: 0.3%;
    animation: changeBackgroundColor 30s infinite;
}

.footer-item {
    width: 2%;
    text-align: center;
    margin-bottom: 10px;
    white-space : nowrap
}

.footer-item > a {
    text-decoration: none;
    color: white;
}

.img-footer-bde, .img-socials {
    width: 100%;
}
.img-footer-utc{
    width: 200%;
}
.footer-info {
    font-weight: bolder;
    color: beige;
    margin: 0;
}

@keyframes changeBackgroundColor {
  0% {
    background-color: #0A0908;
  }
  50% {
    background-color: #1E1E1E;
  }
  100% {
    background-color: #0A0908;
  }
}


@media only screen and (min-device-width : 0px) and (max-device-width : 1024px) {


}