.wrapper {
    background-color: #242424;
    display: flex;
    justify-content: space-around; /* Ajuste l'espacement entre les éléments */
    align-items: center;
    flex-wrap: wrap; /* Permet le retour à la ligne des éléments sur les petits écrans */
    padding-top: 0.3%;
}

.footer-item {
    width: 3%;
    text-align: center;
    margin-bottom: 10px;
    white-space : nowrap
}

.img-footer-bde, .img-footer-utc, .img-socials {
    width: 100%;
}

.footer-info {
    font-weight: bolder;
    color: beige;
    margin: 0;
}
