.page-legals{
    text-align: center;
    align-items: center;
    align-content: center;
}

.text-middle-legals{
    position: relative;
    padding: 2%;
    margin: 0 auto;
    margin-left: 25%;
    margin-right: auto;
    z-index: 2;
}

.div-son-legals{
    position: relative;
    width: 70%;
    height: auto;
    z-index: 1;
    padding-bottom: 10em;
    margin-top: -50em;
    margin-left: 4em;
}

.item-son-legals{
    filter: blur(4px);
    width: 130%;
    height: auto;
}

.logo-legals{
    width: 35%;
    height: auto;
    margin: 1%;
}