.title-lights{
    text-align: right;
    padding-right: 15%;
}

.item3-light{
    position: absolute;
    width: 60%;
    height: auto;
    margin-top: -50%;
}

.text-middle-light{
    position: relative;
    margin-left: 50%}


.item1-light-first{
    transform: rotate(90deg);
    right: 0;
    position: absolute;
    bottom: -320%;
}
.item1-light-second{
    transform: rotate(-90deg);
    left: 0;
    position: absolute;
    bottom: -306%;
}