.text-middle-light{
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.title-lights-container{
    display: flex;
    justify-content: center;
}

.title-lights{
    margin-right: 7%;
    padding: 1%;
}

.vid2{
    z-index: 2;
    width: 50%;
    height: auto;
    margin-left: -10%;
}


.light-onde4{
    height: 100%;
    width: auto;
    margin-top: -20%;
    margin-right: -33%;
}


.item1-light-first-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.item1-light-first{
    filter: blur(0.3em);
    width: 5%;
    height: auto;
}

.item1-light-second-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-top: -40%;
}
.item1-light-second{
    filter: blur(0.3em);
    width: 5%;
    height: auto;
}


.item3-light-container{
    z-index: 0;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    padding: 1%;
    margin-top: -18%;
    padding-bottom: 10%;
}

.item3-light{
    filter: blur(0.3em);
    width: 50%;
    height: auto;
}

.container-light{
    width: 20em;
    height: 20em;
}

@media only screen and (min-device-width : 0px) and (max-device-width : 1024px) {
.text-middle-light{
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
    .container-light{
        width: 70%;
    }

    .vid2{
    z-index: 2;
    width: 60%;
    height: auto;
    margin-left: 0;
    margin-bottom: 10%;
}

.title-lights-container{
    justify-content: center;
}
.item3-light{
    filter: blur(0.3em);
    width: 100%;
    height: auto;
    margin-top: -40%;
}
.item1-light-second{
    width: 10%;
    margin-right: 10%;
    margin-top: -20%;
}
.item1-light-first{
    width: 10%;
}

}


