.login-form{
    background-image: url("../ressources/background.jpg");
    background-size: 100%;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 97vh;
    flex-direction: column;
}
.login-form-component{
    margin-top: -5%;
    height: auto;
    width: 15%;

}

.login-title{
    flex-direction: row;
    justify-content: center;
    color: black;
    margin-bottom: 10%;
    margin-top: -10%;
    background-color:rgba(255,255,255, 0.5);
    padding: 1%;
    border-radius: 5px;
}

.login-title > h1{
    opacity: 1;
    font-size: xxx-large;
    font-weight: bolder;
}


@media only screen and (min-device-width : 0px) and (max-device-width : 1024px) {


    .login-title > h1 {
        font-size: x-large;
    }


    .login-title{
        margin-bottom: 40%;
        margin-left: 2%;
        margin-right: 2%;
    }


    .login-form-component{
        margin-top: -5%;
        height: auto;
        width: 80%;
    
    }


}




