.login-form{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 15%;
}
.login-form-component{
    height: auto;
    width: 20%;
    background-color: #5B5B5B;
    border-radius: 10px;
    padding: 2%;
}