
.banner{
    display: flex;
    justify-content: space-between;
}
.image-flyht{
    margin-top: -1%;
    width: 20%;
    height: 22%;
}
.image-mic1{
    margin-left: 2%;
    width: 5%;
    height: 5%;
}
.footer-main-page{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-top: 4%;
    margin-bottom: 3%;
}
.backpageimg{
    width: 60%;
    height: auto;
}
.content-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -5%;
}
.content-mid{
    width: 40%;
    height: 40%;
}
.item5-first{
    width: 20%;
    height: 20%;
    margin-right: -10%;
}
.item5-second{
    width: 20%;
    height: 20%;
    margin-left: -10%;
}
.item1-fourth-container{
    display: flex;
    justify-content: flex-end;
    margin-top: -15%;
}
.item1-fourth{
    width: 5%;
    height: 5%;
}



@media only screen and (min-device-width : 0px) and (max-device-width : 1024px) {
    .image-flyht{
        width: 30%;
        height: 33%;
    }
    .image-mic1{
    width: 10%;
    height: 10%;
    }

    .content-mid{
    width: 60%;
    height: 60%;
    }
    .item5-first{
        width: 40%;
        height: 40%;
        margin-right: -10%;
    }
    .item5-second{
        width: 40%;
        height: 40%;
        margin-left: -10%;
    }

    .content-middle{
        margin-top: 20%;
    }
    .item1-fourth{
        width: 10%;
        height: 10%;
    }
    .footer-main-page{
        margin-top: 45%;
    }


}