#body-inv{
    background-color: white;
    color: black;
}

p{
    color: black;
}

.table-data-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 10%;

}
.table-data{
    width: 90%;
}
.selected-items{
    margin-left: 5%;
}

.export-button-selected{
    display: flex;
    flex-direction: column;
    height: 20%;
    margin-left: 2%;
    display: flex;
    justify-content: space-between;
}

.export-button-selected-button{
    margin: 1%;
}
.form-add-actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.form-edit-actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.info-table-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5%;
    margin-top: -10%;
    justify-content: center;
}

.modal-wrapper{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.modal-add-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
}

.wrapper-options-tabledata{
    display: flex;
    justify-content: flex-start;
}

.search {
    margin-right: 2%;
}

.matos-content{
    margin-bottom: 10%;
}

.stats{
    display: flex;
    justify-content: center;
    margin-right: -3%;
}

.wrapper-export{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dropdown-filters{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1%;
    margin-right: 1%;
}


.header-inventory{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;
}


@media only screen and (min-device-width : 0px) and (max-device-width : 1024px) {
    .header-inventory{
        margin-bottom: 10%;
    }


}


