.text-middle{
    display: flex;
    justify-content: space-between;
    z-index: 2;
    height: 100%;
}

.text-son{
    width: 80%;
    height: 15em;
}

.text-son-div{
    z-index: 2;
    padding: 2%;
    align-self: center;

}
.vid1{
    height: 60%;
    width: auto;
    margin-right: -10%;
    z-index: 2;
    overflow: hidden;
}

.vid1-object{
    object-fit: contain;
}

.son-div{
    z-index: 0;
    display: flex;
    justify-content: center;
    filter: blur(0.3em);
    margin-top: -40%;
}

.son{
    width: 70%;
    height: auto;
}

.item1-son-container{
    filter: blur(0.3em);
    display: flex;
    justify-content: flex-end;
    margin-top: -20%;
}
.item1-son{
    width: 5%;
    height: auto;
}

.son-onde2-div{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.son-onde2{
    width: 30%;
    height: auto;
}

@media only screen and (min-device-width : 0px) and (max-device-width : 1024px) {
    .page-son{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .text-middle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 2;
        height: 100%;
    }
    .text-middle > div{
        padding: 2%;
    }
    .text-son-div{
        margin: 0;
    }

    .vid1{
        visibility: hidden;
        height: 1%;
        width: 1%;
    }

    .son-onde2-div{
        display: flex;
        justify-content: center;
        margin-top: 50%;
    }
    .son-onde2{
        width: 60%;
        height: auto;
    }
    .item1-son-container{
        filter: blur(0.3em);
        display: flex;
        justify-content: flex-end;
        margin-top: -80%;
        margin-right: 10%;
    }
    .item1-son{
        width: 10%;
        height: auto;
    }

    .son-div{
        z-index: 0;
        display: flex;
        justify-content: center;
        filter: blur(0.3em);
        margin-top: 0%;
    }

    .son{
        width: 100%;
        height: auto;
    }


}
