.son-title{
    padding-left: 10%;
}

.text-middle{
    position: relative;
    display: block;
}

.item{
    z-index: 0;
    filter : blur(0.5rem);
}

.item1-son{
    position: absolute;
    transform: rotate(90deg);
    right: 0;
    margin-top: -20%;
}

.son{
    position: absolute;
    margin-left: 25%;
    margin-top: -60%;
}

.text-son{
    position: relative;
    opacity: 1;
}

