.son-title{
    padding-left: 10%;
}


.item{
    z-index: 0;
    filter : blur(0.5rem);
}

.item1-son{
    position: absolute;
    transform: rotate(90deg);
    right: 0;
    bottom: -220%;
}

.son{
    position: absolute;
    margin-left: 25%;
    top: 190vmin;
}


